<div class="form-group">
  <input type="text" class="form-control" [(ngModel)]= "employeeName" id="usr" placeholder="Search by First Name">
</div>

<table class="table table-hover table-striped table-light  form-group ">
  <thead>
    <tr >
      <th *ngFor= "let col of displayedColumns">
      <a class="contribute link text-primary" (click)= "sortedColumn=col ; a=a+1"><i class= "fas fa-sort">
      <span class="space"></span>
      {{ col }}</i></a>
      </th>
  </thead>
  <tbody>
    <tr *ngFor= "let employee of employees | filter : employeeName | sort : sortedColumn : a | paginate: { itemsPerPage: 5, currentPage: page}">
    <ng-container> <td>{{employee.f_name}}</td></ng-container>
    <ng-container> <td>{{employee.l_name}}</td></ng-container>
    <ng-container> <td>{{employee.company}}</td></ng-container>
    <ng-container> <td>{{employee.city}}</td></ng-container>
    <ng-container> <td>{{employee.state}}</td></ng-container>
    <ng-container> <td>{{employee.zip}}</td></ng-container>
    <ng-container> <td>{{employee.web}}</td></ng-container>
    <ng-container> <td>{{employee.age}}</td></ng-container>
    </tr>
</tbody>

</table>
<ng-container class="container-fluid">
  <div class="gap">
    <pagination-controls  maxSize="11"  responsive="true" directionLinks="true"  autoHide="true" previousLabel="" nextLabel="" (pageChange)= "page = $event">/</pagination-controls>
    </div>
</ng-container>
<span class="ext"></span>
